
.vs/TerraFOSS/xs/project-cache/TerraFOSS-Debug.json
.vs/TerraFOSS/xs/UserPrefs.xml
mono_crash.11a67480d0.0.json
obj/Debug/net45/TerraFOSS.assets.cache
mono_crash.11a67480d0.0.json
obj/Debug/net45/TerraFOSS.csproj.AssemblyReference.cache
obj/project.assets.json
obj/project.nuget.cache
obj/TerraFOSS.csproj.nuget.dgspec.json
obj/TerraFOSS.csproj.nuget.g.props
obj/TerraFOSS.csproj.nuget.g.targets
TerraFOSS.sln
mono_crash.11a67480d0.0.json
